use asdf
export DISCORD_TOKEN=your_token_here
export DISCORD_DISPLAY_NAME="Accomplice V2"
export DISCORD_ACTIVITY_REFRESH_INTERVAL=60
export DISCORD_BOT_ADMIN_SNOWFLAKE=707022657354203180

export REDIS_URL=redis://localhost:6379
export REDIS_PREFIX=accomplice_
export LOG_LEVEL=debug