use asdf
export LOG_LEVEL=debug

export INIT_DB="false"
export DISCORD_TOKEN="token"
export DISCORD_DISPLAY_NAME="Accomplice"
export DISCORD_ACTIVITY_REFRESH_INTERVAL=60
export DISCORD_BOT_ADMIN_SNOWFLAKE=707022657354203180

export REDIS_ENABLED=false
export REDIS_URL=redis://localhost:6379
export REDIS_PASSWORD=redis
export REDIS_PREFIX=accomplice_

export DB_DIALECT="mariadb"
export DB_HOST="10.0.20.10"
export DB_PORT="3306"
export DB_USERNAME="accomplice"
export DB_PASSWORD="accomplice"
export DB_DATABASE="accomplice"
